extends ../../structure

block append stylesheets
    link(rel="stylesheet", href="css/lwat.css")

block append body-content
    form
        .container
            .row
                .col-sm-12
                    h1 1. Client Data Form

block append scripts
    script(src="js/client-data.js")