doctype html
html(lang="en")
    head
        title !{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
        script(src='//code.jquery.com/jquery-1.11.1.min.js')
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
        link(href="css/login.css", rel='stylesheet')

    body
        canvas.particles
        .container-fluid.login-bg
            .row.login-content
                h1.text-center.welcome Welcome to HighFarm Camping
                h4.text-center.welcome-msg You can access the campsite management system below.
                br
                p.text-center
                    a.btn.btn-success.btn-lg.login(href='#', role='button', data-toggle='modal', data-target='#login-modal')
                        i.fa.fa-fw.fa-sign-in-alt
                        |  Login
                    a.btn.btn-primary.btn-lg.register(href='#', role='button', data-toggle='modal', data-target='#register-modal')
                        i.fa.fa-fw.fa-user-plus
                        |  Register
                    a.btn.btn-info.btn-lg.support(href='#', role='button', data-toggle='modal', data-target='#support-modal')
                        i.fas.fa-fw.fa-cog.fa-spin
                        |  Support
                    .error
                        if (message !== "")
                            script(type="text/javascript").
                                $('.error').css("visibility", "visible");
                        p.error !{error}
                        p.message !{message}
        #login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
            .modal-dialog
                .modal-content
                    .modal-header(align='center')
                        img.img_logo.img-circle(src='img/tent.png')
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span.glyphicon.glyphicon-remove(aria-hidden='true')
                    #div-forms
                        form#login-form(action='/authenticate', method='POST')
                            .modal-body
                                #div-login-msg
                                    #icon-login-msg.glyphicon.glyphicon-chevron-right
                                    span#text-login-msg  Please Enter Your Username & Password
                                input.username.form-control(type='text', name='username', placeholder='Username' required)
                                input.password.form-control(type='password', name='password', placeholder='Password' required)
                            .modal-footer
                                div
                                    button.btn.btn-primary.btn-lg.btn-block.login(type='submit') Login
                                div
                                    button#login_lost_btn.btn.btn-link(type="button") Lost Password?
                        form#lost-form(style='display:none;')
                            .modal-body
                                #div-lost-msg
                                    #icon-lost-msg.glyphicon.glyphicon-chevron-right
                                    span#text-lost-msg Whoops! Please change your password.
                                input.form-control#lostPasswordUsername(type="text" name="username" placeholder="Username" required)
                                input.form-control#lostPasswordOld(type="password" name="old" placeholder="Current Password" required)
                                input.form-control#lostPasswordNew(type="password" name="new" placeholder="New Password" required)
                                input.form-control#lostPasswordConfirm(type="password" name="confirm" placeholder="Confirm Password" required)
                                button#submit_handle(type="submit" style="display: none")
                                p#lostPasswordError
                                p#lostPasswordSuccess
                            .modal-footer
                                div
                                    button#lostPassword.btn.btn-primary.btn-lg.btn-block(type='button') Submit
                                    button#lostPasswordResponseMessage.btn.btn-lg.btn-block(type="button")
                                div
                                    button#lost_login_btn.btn.btn-link(type='button') Log In
                                    br
        #register-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
            .modal-dialog
                .modal-content
                    .modal-header(align='center')
                        img.img_logo.img-circle(src='img/tent.png')
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span.glyphicon.glyphicon-remove(aria-hidden='true')
                    #div-register-form
                        form(action='/register', method='POST')
                            .modal-body
                                #div-register-msg
                                    #icon-register-msg.glyphicon.glyphicon-chevron-right
                                    span#text-register-msg Register New User
                                input.username.form-control(type='text', name='username', placeholder='Username' required)
                                input.email.form-control(type='text', name='email', placeholder='Email' required)
                                input.password.form-control(type='password', name='password', placeholder='Password' required)
                                input.confirm.form-control(type='password', name='confirm', placeholder='Confirm Password' required)
                                select.permissions.form-control(name='role')
                                    option(value="admin") Admin
                                    option(value="staff") Staff
                                hr
                                input.admin-key.form-control(type="password", name="admin_key", placeholder='Admin Key' required)
                            .modal-footer
                                div
                                    button.btn.btn-primary.btn-lg.btn-block.register-user(type='submit') Register
        #support-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='display: none;')
            .modal-dialog
                .modal-content
                    .modal-header(align='center')
                        img.img_logo.img-circle(src='img/tent.png')
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span.glyphicon.glyphicon-remove(aria-hidden='true')
                    #div-support-form
                        form(action='/', method='POST')
                            .modal-body
                                #div-support-msg
                                    #icon-support-msg.glyphicon.glyphicon-chevron-right
                                    span#text-support-msg Having Problems?
                                input.name.form-control(type='text', name='name', placeholder='Name')
                                input.email.form-control(type='text', name='email', placeholder='Email')
                                input.phone.form-control(type='text', name='mobile', placeholder='Telephone')
                                textarea.description.form-control(name="description", placeholder='Describe Your Problem')
                            .modal-footer
                                div
                                    button.btn.btn-primary.btn-lg.btn-block.register-user(type='submit') Submit
        script(type="text/javascript", src="https://npmcdn.com/particlesjs@2.1.0/dist/particles.min.js")
        script(src="js/particles-config.js")
        script(src="js/login.js")