extends structure

block append body-content
    .container
        .row
            .modal-body
                #div-login-msg
                    #icon-login-msg.glyphicon.glyphicon-chevron-right
                    span#text-login-msg  Please Enter Your Username & Password
                input.username.form-control(type='text', name='username', placeholder='Username' required)
                input.password.form-control(type='password', name='password', placeholder='Password' required)
            .modal-footer
                div
                    button.btn.btn-primary.btn-lg.btn-block.login(type='submit') Login
                div
                    button#login_lost_btn.btn.btn-link(type="button") Lost Password?