extends structure

block append stylesheets
    link(rel="stylesheet", href="css/profile.css")

block append body-content
    .container-fluid
        .row#profileWrapper
            .col-xs-3#sidebarWrapper.no-gutter-left
                .nav-side-menu
                    i.fa.fa-bars.fa-2x.toggle-btn(data-toggle='collapse', data-target='#menu-content')
                    .menu-list
                        ul#menu-content.menu-content.collapse
                            li.collapsed.active(data-toggle='collapse', data-target='#profile')
                                a(href='#')
                                    i.fa.fa-fw.fa-user-circle.fa-lg
                                    |  Profile
                                    span.arrow
                            ul#profile.sub-menu.collapse
                                li.active
                                    a#displayPersonalInformation(href='#personalInformation', data-toggle='tab')
                                        i.fa.fa-fw.fa-user
                                        |  Personal Information
                                li
                                    a(href='#changePassword', data-toggle='tab')
                                        i.fa.fa-fw.fa-lock
                                    |  Change Password
                                li
                                    a(href="/logout")
                                        i.fas.fa-fw.fa-sign-out-alt
                                        |  Logout
                            li.collapsed(data-toggle='collapse', data-target='#service')
                                a(href='#')
                                    i.fa.fa-fw.fa-lg.fa-mouse-pointer
                                    |  Online Services
                                    span.arrow
                            ul#service.sub-menu.collapse
                                li
                                    a#displayWills(href='#wills', data-toggle='tab')
                                        i.fas.fa-fw.fa-pencil-alt
                                        |  My Wills
                                li
                                    a(href='#trusts', data-toggle='tab')
                                        i.fas.fa-fw.fa-users
                                        |  My Trusts
                                li
                                    a(href='#lastingPowersOfAttorney', data-toggle='tab')
                                        i.fas.fa-fw.fa-gavel
                                        |  My Lasting Powers of Attorney
                                li
                                    a(href='#funeralPlans', data-toggle='tab')
                                        i.fab.fa-fw.fa-pagelines
                                        |  My Funeral Plans
            .col-xs-9#contentWrapper
                .tab-content
                    #personalInformation.tab-pane.active
                        form
                            .container-fluid
                                .row
                                    .col-xs-12
                                        h3
                                            i.fa.fa-fw.fa-user.fa-lg
                                            |  Personal Information
                                br
                                .row
                                    .col-xs-6
                                        label Username
                                        input#personalUsername.form-control(type="text" placeholder="Username")

                                        label Email
                                        input#personalEmail.form-control(type="text" placeholder="Email")

                                        label First Name
                                        input#personalFirstName.form-control(type="text" placeholder="First Name")

                                        label Last Name
                                        input#personalLastName.form-control(type="text" placeholder="Last Name")

                                        button#updatePersonalInformation.btn.btn-success(type="button")
                                            i.fas.fa-fw.fa-user
                                            |  Update Information

                    #changePassword.tab-pane
                        h3
                            i.fas.fa-fw.fa-lg.fa-lock
                            |  Change Password
                    #wills.tab-pane
                        h3
                            i.fas.fa-fw.fa-pencil-alt
                            |  Last Will & Testament
                        #lastWillAndTestamentTable
                    #trusts.tab-pane
                        h3
                            i.fas.fa-fw.fa-users
                            |  Trusts
                    #lastingPowersOfAttorney.tab-pane
                        h3
                            i.fas.fa-fw.fa-gavel
                            |  Lasting Powers of Attorney
                    #funeralPlans.tab-pane
                        h3
                            i.fab.fa-lg.fa-fw.fa-pagelines
                            |  Funeral Plans

block append scripts
    script(src="js/profile.js")