extends structure

block append stylesheets
    link(rel="stylesheet", href="css/profile.css")

block append body-content
    .container-fluid
        .row#profileWrapper
            .col-xs-3#sidebarWrapper
                .nav-side-menu
                    i.fa.fa-bars.fa-2x.toggle-btn(data-toggle='collapse', data-target='#menu-content')
                    .menu-list
                        ul#menu-content.menu-content.collapse
                            li.collapsed.active(data-toggle='collapse', data-target='#profile')
                                a(href='#')
                                    i.fa.fa-fw.fa-user-circle.fa-lg
                                    |  Profile
                                    span.arrow
                            ul#profile.sub-menu.collapse
                                li.active
                                    a#displayPersonalInformation(href='#personalInformation', data-toggle='tab')
                                        i.fa.fa-fw.fa-user
                                        |  Personal Information
                                li
                                    a(href='#changePassword', data-toggle='tab')
                                        i.fa.fa-fw.fa-lock
                                        |  Change Password
                                li
                                    a(href="/logout")
                                        i.fas.fa-fw.fa-sign-out-alt
                                        |  Logout
                            li
                                a#displayWills(href='#wills', data-toggle='tab')
                                    i.fas.fa-fw.fa-pencil-alt
                                    |  My Wills
                            li
                                a(href='#trusts', data-toggle='tab')
                                    i.fas.fa-fw.fa-users
                                    |  My Trusts
                            li
                                a(href='#lastingPowersOfAttorney', data-toggle='tab')
                                    i.fas.fa-fw.fa-gavel
                                    |  My Lasting Powers of Attorney
                            li
                                a(href='#funeralPlans', data-toggle='tab')
                                    i.fab.fa-fw.fa-pagelines
                                    |  My Funeral Plans
                            li
                                a#displayBlogPosts(href="#blogPosts", data-toggle="tab")
                                    i.fas.fa-fw.fa-rss
                                    |  My Blog Posts
            .col-xs-8#contentWrapper
                .tab-content
                    #personalInformation.tab-pane.active
                        form
                            .container-fluid
                                .row
                                    .col-xs-12
                                        h3
                                            i.fa.fa-fw.fa-user.fa-lg
                                            |  Client Data Form
                                        hr
                                        p The form below captures all relevant information required by the Last Will & Testament Form. Here you can make any changes you wish to your personal information should it change or be incorrect.
                                .row
                                    .col-md-6
                                        h4
                                            i.fas.fa-fw.fa-user
                                            |  Personal Details
                                        hr
                                        .row
                                            .col-xs-12
                                                .form-group
                                                    label Username
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-user
                                                        input#personalUsername.form-control(type="text" placeholder="Username")

                                                .form-group
                                                    label Email
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-envelope
                                                        input#personalEmail.form-control(type="text" placeholder="Email")
                                            .col-sm-5
                                                .form-group
                                                    label(for='personalTitle') Title
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-id-card
                                                        select#personalTitle.form-control
                                                            option(name='title', value='mr') Mr
                                                            option(name='title', value='mrs') Mrs
                                                            option(name='title', value='miss') Miss
                                                            option(name='title', value='ms') Ms
                                                            option(name='title', value='dr') Dr
                                                            option(name='title', value='rev') Rev
                                                            option(name='title', value='sir') Sir
                                            .col-sm-7
                                                .form-group
                                                    label Marital Status
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-venus-mars
                                                        select#personalMaritalStatus.form-control
                                                            option(name="marital_status") Single
                                                            option(name="marital_status") Engaged
                                                            option(name="marital_status") Married / Civil Partnership
                                                            option(name="marital_status") Co-Habiting
                                                            option(name="marital_status") Separating
                                                            option(name="marital_status") Divorced
                                                            option(name="marital_status") Widow/er
                                            .col-sm-5
                                                .form-group
                                                    label Forename
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-tag
                                                        input#personalFirstName.form-control(type='text', name='first_name', placeholder='Forename', required='')
                                            .col-sm-7
                                                .form-group
                                                    label Surname
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-tags
                                                        input#personalLastName.form-control(type='text', name='last_name', placeholder='Surname', required='')
                                            .col-sm-12
                                                .form-group
                                                    label Tel (Mobile)
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-mobile
                                                        input#personalMobile.form-control(type='text', name='tel_mobile', placeholder='Mobile Telephone')

                                                .form-group
                                                    label Tel (Home)
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-phone
                                                        input#personalTelephone.form-control(type='text', name='tel_home', placeholder='Home Telephone')
                                                .form-group
                                                    label Date of Birth
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-calendar
                                                        input#personalDob.form-control(type='text' name='date_of_birth' placeholder="DD/MM/YYYY")

                                                .form-group
                                                    label Nationality
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-globe
                                                        input#personalNationality.form-control(type='text' name='nationality' placeholder="Nationality")
                                    .col-md-6
                                        .row
                                            .col-xs-12
                                                h4
                                                    i.fas.fa-fw.fa-home
                                                    |  Address Details
                                                hr

                                                .form-group
                                                    label Address Line 1
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-map-signs
                                                        input#personalAddressLine1.form-control(type="text" name="address_line_1" placeholder="First Line of Address")

                                                .form-group
                                                    label Address Line 2
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-map-signs
                                                        input#personalAddressLine2.form-control(type="text" name="address_line_2" placeholder="Second Line of Address")
                                            .col-xs-6
                                                .form-group
                                                    label Town
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-compass
                                                        input#personalTown.form-control(type="text" name="town" placeholder="Town")

                                            .col-xs-6
                                                .form-group
                                                    label Postcode
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-home
                                                        input#personalPostcode.form-control(type="text" name="postcode" placeholder="Postcode")

                                            .col-xs-12
                                                .form-group
                                                    label How long have you spent at this property?
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-clock
                                                        input#personalPropertyDuration.form-control(type="text" name="property_duration" placeholder="Duration in Years")

                                            .col-xs-12
                                                h4
                                                    i.fas.fa-fw.fa-building
                                                    |  Employment Details
                                                hr

                                                .form-group
                                                    label Job Title
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-user-md
                                                        input#personalPosition.form-control(type='text' name='job_title' placeholder="Your Position")

                                                .form-group
                                                    label Employer
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-building
                                                        input#personalEmployer.form-control(type='text' name='employer' placeholder="Employer Name")

                                            .col-xs-12
                                                h4
                                                    i.fas.fa-fw.fa-id-badge
                                                    |  Proof of Identity
                                                hr
                                                .form-group
                                                    label Drivers Licence (Paper or Card)
                                                    .input-group
                                                        span.input-group-addon
                                                            i.fas.fa-fw.fa-upload
                                                        input#personalDrivingLicense.form-control(type="file" name="driving_licence")
                                    .col-xs-12
                                        button#updatePersonalInformation.btn.btn-success.btn-lg(type="button")
                                            i.fas.fa-fw.fa-cloud-upload-alt
                                            |  Update Information

                    #changePassword.tab-pane
                        .col-md-6
                            h3
                                i.fas.fa-fw.fa-lg.fa-lock
                                |  Change Password
                            form#lost-form
                                #div-lost-msg
                                    #icon-lost-msg.fas.fa-fw.fa-angle-right
                                    span#text-lost-msg Whoops! Please change your password.
                                br
                                input.form-control#lostPasswordUsername(type="text" name="username" placeholder="Username" required)
                                input.form-control#lostPasswordOld(type="password" name="old" placeholder="Current Password" required)
                                input.form-control#lostPasswordNew(type="password" name="new" placeholder="New Password" required)
                                input.form-control#lostPasswordConfirm(type="password" name="confirm" placeholder="Confirm Password" required)
                                button#submit_handle(type="submit" style="display: none")
                                p#lostPasswordError
                                p#lostPasswordSuccess


                                button#lostPassword.btn.btn-success.btn-lg.btn-block(type='button')
                                    i.fas.fa-fw.fa-lock
                                    |  Change My Password
                                button#lostPasswordResponseMessage.btn.btn-lg.btn-block(type="button")

                    #wills.tab-pane
                        h3
                            i.fas.fa-fw.fa-pencil-alt
                            |  Last Will & Testament
                        #lastWillAndTestamentTable
                    #trusts.tab-pane
                        h3
                            i.fas.fa-fw.fa-users
                            |  Trusts
                    #lastingPowersOfAttorney.tab-pane
                        h3
                            i.fas.fa-fw.fa-gavel
                            |  Lasting Powers of Attorney
                    #funeralPlans.tab-pane
                        h3
                            i.fab.fa-lg.fa-fw.fa-pagelines
                            |  Funeral Plans

block append scripts
    script(src="js/profile.js")