doctype html
html
    head
        block head-meta
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')

            title !{title}
        block fonts
            script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')

        block stylesheets
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
            link(rel='stylesheet', href='css/ui.css')

    body
        block navigation
            .header
                header#main-header
                    nav.navbar.navbar-default.navbar-fixed-top
                        .container
                            .navbar-header
                                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                                a(href="{{ 'index'|page }}")
                                    img.menu-logo(src="{{ 'assets/images/twp-logo.png'|theme }}")
                            #myNavbar.collapse.navbar-collapse
                                ul.nav.navbar-nav.navbar-right
                                    // Life Planning Drop-Down
                                    li.dropdown.life
                                        a.dropdown-toggle.nav-link(data-toggle='dropdown', href='#')
                                            i.fas.fa-paste.fa-fw
                                            |  Life Planning
                                            span.fas.fa-angle-down
                                        ul.dropdown-menu
                                            li
                                                a(href="{{ 'storage'|page }}") Storage
                                            li
                                                a(href="{{ 'trusts'|page }}") Trusts
                                            li
                                                a(href="{{ 'inheritance'|page }}") Inheritance
                                            li
                                                a(href="{{ 'faq'|page }}") FAQs
                                    // Personal Services Drop-Down
                                    li.dropdown.personal
                                        a.dropdown-toggle.nav-link(data-toggle='dropdown', href='#')
                                            i.fa.fa-user.fa-fw
                                            |  Personal Services
                                            span.fas.fa-angle-down
                                        ul.dropdown-menu
                                            li
                                                a(href="{{ 'probate'|page }}") Probate
                                            li
                                                a(href="{{ 'careers'|page }}") Careers
                                            li
                                                a(href="{{ 'blog'|page }}") News / Blog
                                            li
                                                a(href="{{ 'contact'|page }}") Contact Us
                                    // Online Services Drop-Down
                                    li.dropdown.online
                                        a.dropdown-toggle.nav-link(data-toggle='dropdown', href='#')
                                            i.fa.fa-mouse-pointer.fa-fw
                                            |  Online Services
                                            span.fas.fa-angle-down
                                        ul.dropdown-menu
                                            li
                                                a(href="{{ 'wills'|page }}") Wills
                                            li
                                                a(href="{{ 'trusts'|page }}") Trusts
                                            li
                                                a(href="{{ 'powerofattorney'|page }}") Lasting Powers of Attorney
                                            li
                                                a(href="{{ 'funeral'|page }}") Funeral Plans
                                    // News
                                    li.news
                                        a.nav-link(href="{{ 'blog'|page }}")
                                            i.far.fa-newspaper.fa-fw
                                            |  News
        block body-content
        block footer
            footer#footer
                .container
                    .row.upper_section
                        .col-md-4
                            h3 Contact Us...
                            ul.unstyled.footer-links
                                li The Willwriting Partnership
                                li Imperial House
                                li Hornby Street
                                li Bury
                                li BL9 5BN
                                li 0161 705 4382
                                li info@twp.co.uk
                        .col-md-4
                            h3 Services
                            ul.unstyled
                                li
                                    a.footer-links(href="{{ 'wills'|page }}") Wills
                                li
                                    a.footer-links(href="{{ 'funeral'|page }}") Funeral Plans
                                li
                                    a.footer-links(href="{{ 'inheritance'|page }}") Inheritance Tax
                                li
                                    a.footer-links(href="{{ 'probate'|page}}") Probate
                                li
                                    a.footer-links(href="{{ 'storage'|page }}") Storage
                                li
                                    a.footer-links(href="{{ 'trusts'|page }}") Trusts
                        .col-md-4
                            h3 About Us
                            ul.unstyled
                                li
                                    a.footer-links(href="{{ 'history'|page }}") Company History
                                li
                                    a.footer-links(href="{{ 'glossary'|page }}") Glossary Of Terms
                                li
                                    a.footer-links(href="{{ 'trivia'|page }}") Trivia
                                li
                                    a.footer-links(href="{{ 'careers'|page }}") Careers
                                li
                                    a.footer-links(href="{{ 'faq'|page }}") Frequently asked questions
    block scripts
        // jQuery CDN
        script(src='https://code.jquery.com/jquery-1.12.0.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')



