extends structure

block append body-content
    .container-fluid
        .row
            .col-xs-12
                h2 Last Will & Testament
                hr
                p Start your will form below. Data is saved after completing each section. There are four sections as follows;
                ol
                    li Appointment of Executors
                    li Residual Estate
                    li Funeral Arrangements
                    li Payment
                p Should you lose your page or need to load past progression, find your progress under 'My Wills' in your profile. You can continue your will from the last saved section.
                button.btn.btn-info.btn-lg#createWill(type="button")
                    i.fas.fa-fw.fa-pencil-alt
                    |  Create Will
                hr
block append scripts
    script(type="text/javascript").
        //Bind Will Button Function Here
        let createWill = $("#createWill").on("click", function() {
            //window.location = "/forms/last-will-and-testament-executors";
            $.ajax({
                type: "POST",
                url: "/forms/create-last-will-and-testament",
                success: function(data) {

                },
                error: function(err) {
                    console.log(err);
                }
            });
        });