input[type="text"], select, textarea {
    margin-bottom: 15px;
}

label {
    margin: 0 0 2px 0;
    padding: 0;
}

hr {
    margin: 0;
    padding-bottom: 20px;
}

h1, h2 {
    margin: 3px 0;
}

button {
    margin: 5px;
    margin-left: 0;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#next {
    float: right;
}

.current-stage {
    line-height: 51px;
    vertical-align: middle;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

#termsAndConditions .modal-body {
    max-height: calc(100vh - 310px);
    overflow-y: auto;
}

#acceptTerms {
    margin: 0 10px;
}

#startWill {
    float: right;
}