.alpha-bullets {
    list-style-type: lower-alpha;
}

.logo {
    width: 30%;
    padding: 8px 0;
}

.today {
    font-size: 1.4em;
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
}

.header {
    border-bottom: 1px solid #7a43b6;
    padding: 10px 0;
    position: relative;
    margin-bottom: 40px;
}

.footer {
    border-top: 1px solid #7a43b6;
    margin-top: 50px;
    padding: 12px 0;
    text-align: left;
    position: relative;
}

.footer p {
    margin: 0;
    padding: 0;
}

.footerLogo {
    float: right;
    top: 0;
    right: 0;
    width: 15%;
    position: absolute;
    padding: 5px 0;
}

body, html {
    margin: 0 !important;
    padding: 0 !important;
}

p {
    font-size: 1.1em;
}

.executor-info {
    margin: 0 0 0 25px;
    padding: 0;
}

.signature {
    font-family: 'Herr Von Muellerhoff', 'Poppins', sans-serif;
    font-size: 3.5em;
    border-bottom: 1px solid #7a43b6;
}

.signatureName, .signatureFirstLineAddress, .signatureSecondLineAddress, .signatureCityTown, .signaturePostcode, .staffName, .staffFirstLineAddress, .staffSecondLineAddress, .staffCityTown, .staffPostcode {
    font-size: 1.3em;
    text-transform: uppercase;
    border-bottom: 1px solid #7a43b6;
}

.rule {
    border-bottom: 1px solid #7a43b6;
}